<div class="container-fluid p-5 m-0 vh-100 w-100">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form class="mb-md-5 mt-md-4 pb-5" [formGroup]="registerForm" (ngSubmit)="save()">
                        <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                        <div class="form-outline form-white mb-4">
                            <input formControlName="firstName" value="" id="firstName" required="required" type="text"
                                [ngClass]="f.firstName.invalid && (isSubmit || f.firstName.touched || f.firstName.dirty)? 'is-invalid': ''"
                                class="form-control form-control-lg" placeholder="First Name" />
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input formControlName="lastName" value="" id="lastName" required="required" type="email"
                                [ngClass]="f.lastName.invalid && (isSubmit || f.lastName.touched || f.lastName.dirty)? 'is-invalid': ''"
                                class="form-control form-control-lg" placeholder="Last Name" />
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input formControlName="email" value="" id="email" required="required" type="email"
                                [ngClass]="f.email.invalid && (isSubmit || f.email.touched || f.email.dirty)? 'is-invalid': ''"
                                class="form-control form-control-lg" placeholder="Email" />
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input formControlName="password" class="form-control"
                                [ngClass]="f.password.invalid && (isSubmit || f.password.touched || f.password.dirty)? 'is-invalid': ''"
                                required type="password" id="password" class="form-control form-control-lg"
                                placeholder="Password" />
                        </div>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                    </form>

                    <div>
                        <p class="mb-0">Do have an account? <a routerLink="/auth" class="text-white-50 fw-bold">Sign
                                in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>